{% assign game = events[0] %}
{% assign matchup = game.competitions[0].competitors %}
{% assign home = matchup | where: "homeAway", "home" | first %}
{% assign away = matchup | where: "homeAway", "away" | first %}
{% assign game_link = game.links[0].href %}

<div class="mashup mashup--1Tx1B">
<div class="view view--half_horizontal">
  <div class="layout">
      <div class="flex flex--row flex--center-x">
      <div class="flex flex--row">
      <div class="">
        <img src="{{ matchup[0].team.logo }}" alt="{{ matchup[0].team.displayName }}" width="100">
      <div><strong>{{ matchup[0].team.displayName }}</strong></div>
    <div><small>{{ matchup[0].records[0].summary }}</small></div>
    <div><em>{{ matchup[0].homeAway | capitalize }}</em></div>
  </div>
  <div class="col">
    <div class="row row--center">
    <span class="value value--small">{{ game.status.type.shortDetail }}</span>
    </div>
    <div class="row row--center"><qr>{{ game_link }}</qr></div>
</div>
  <div class="">
  <img src="{{ matchup[1].team.logo }}" alt="{{ matchup[1].team.displayName }}" width="100">
  <div><strong>{{ matchup[1].team.displayName }}</strong></div>
    <div><small>{{ matchup[1].records[0].summary }}</small></div>
  <div><em>{{ matchup[1].homeAway | capitalize }}</em></div>
</div>
</div>
</div>
</div>
</div>
<div class="view view--half_horizontal">
<div class="layout">
    {% assign rest = events | slice:1,10 %}
      <div class="grid grid--cols-2">
        <!-- Left Column -->
        <div>
        {% for game in rest limit:5 %}
      {% assign teams = game.competitions[0].competitors %}
      <div class="row">
        {% for team in teams %}
        <div class="col col-6 layout--center">
          <img src="{{ team.team.logo }}" alt="{{ team.team.displayName }}" width="25">
          <div><small>{{ team.team.abbreviation }}</small></div>
          </div>
            {% endfor %}
          <div class="col">
          <small>{{ game.status.type.shortDetail }}</small>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Right Column -->
      <div>
          {% for game in rest offset:5 %}
        {% assign teams = game.competitions[0].competitors %}
      <div class="row">
        {% for team in teams %}
        <div class="col col-4 layout--center">
            <img src="{{ team.team.logo }}" alt="{{ team.team.displayName }}" width="25">
              <div><small>{{ team.team.abbreviation }}</small></div>
          </div>
        {% endfor %}
        <div class="col col-2">
          <small>{{ game.status.type.shortDetail }}</small>
          </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
</div>
</div>

<!-- QR Code Support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/yunruse/trmnl-tricks/QR.js"></script>
<style>
qr img {
border: 10px solid white;
display: inline !important;
}
</style>
