<div class="view view--half_vertical">
  <div class="layout">
    <div class="title-bar">
      <span class="title">NFL Week {{ week.number }}</span>
    </div>

    {% for event in events limit:8 %}
    {% assign teams = event.competitions[0].competitors %}
    <div class="item">
      <div class="label">
        {% for team in teams %}
        <img src="{{ team.team.logo }}" alt="{{ team.team.displayName }}" width="20">
        {{ team.team.abbreviation }}
        {% endfor %}
      </div>
      <div class="value">
        {% if event.status.type.state == "in" %}
          {{ teams[0].score }}-{{ teams[1].score }}
        {% else %}
          {{ event.status.type.shortDetail }}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


